<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="card">
  <a href="/comment/blog/{{blog.id}}">
  <div class="card-header">
    {{blog.Title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{blog.Content}}</p>
      <footer class="blockquote-footer">Created by <cite title="Source Title">{{blog.user.name}} on {{format_date blog.createdAt}}</cite></footer>
    </blockquote>
  </div>
  </a>
</div>
{{/each}}
